# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
*.swp
*.swo
*~

# VS Code - ignore all except shared configs
.vscode/*
# !.vscode/mcp.json
!.vscode/extensions.json

.github/*
!.github/ISSUE_TEMPLATE/*
!.github/workflows/*

*githooks/*
*mcp/mcp-apps*

.claude/*